
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/fondo.jpg);
    background-size: cover; 
    margin: 0; 
    padding: 0; 
  }
  
  h1 {
    text-decoration: underline;
    text-align: center;
  }
  
  header, footer {
    background-color: #770000;
    color: #fff;
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  
  header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
  
  .logo,
  .logo1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .logo {
    background-size: cover;
    background-position: left;
  }
  
  .logo1 {
    background-position: right bottom;
    background-position: 100% 100%;
  }
  
  
  nav {
    display: flex;
    gap: 20px; 
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  
  main {
    padding: 20px;
    box-sizing: border-box; 
  }
  
  
  .ini {
    text-align: center;
  }
  
  .pro {
    text-align: left;
  }
  
  
  button {
    background-color: chocolate;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #99561a;
  }
  
  
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px; 
    margin: 20px auto; 
  }
  
  td, th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
  }
  
  
  @media screen and (max-width: 768px) {
    
    header {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    nav {
      flex-direction: column; 
      align-items: flex-start;
    }
  
    
    table {
      font-size: 14px; 
    }
  
    td, th {
      padding: 5px; 
    }
  }